<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- BOOTSTRAP CSS-->
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/config-init.css')}}" />
    {% endblock %}

    <!-- BOOTSTRAP JS -->
    {% block scripts %}
    <script src="{{ url_for('static', filename = 'bootstrap/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'bootstrap/js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap-select.min.js')}}"></script>
    {% endblock %}
    
    {% block head %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body id="override">
    {% block navbar %}
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <div class="container-fluid container-sm">
        <a class="navbar-brand" href="#">DC19</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>    
          </ul>
        </div> 
      </div>
       
    </nav>
    {% endblock %}

    <div class="container-fluid container-sm content shadow-sm">
      {% block content %}
      {% endblock %}
    </div>
    
    {% block footer %}
    <footer>
      <div class="container-fluid container-sm">
        <div class="row">
          <div class="col-12 col-sm-6 pb-3">
              <h4>Acerca de Nosotros</h4>
              <ul>
                  <li><a href="#">Información</a></li>
                  <li><a href="#">Acuerdo de privacidad</a></li>
                  <li><a href="#">Misión y Visión</a></li>
              </ul>
          </div>
          <div class="col-12 col-sm-6 pb-3">
              <h4>Contáctenos</h4>
              <ul>
                  <li>E-mail: soporte@3jorms.com.pe</li>
                  <li>+51 937 853 201</li>
              </ul>
          </div>
        </div>
      </div>
      
    </footer>
    {% endblock %}
  </body>
</html>