{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/login-register.css') }}">
{% endblock %}

{% block title %}
Registrarse
{% endblock %}

{% block content %}
<form class="formulario">

    <h1>Registrate</h1>
    <div class="contenedor">

        <div class="input-contenedor ">
            <i class="fas fa-user icon"></i>
            <input type="text" placeholder="Nombres y Apellidos
            ">

        </div>

        <div class="input-contenedor">
            <i class="far fa-address-card icon"></i>
            <input type="text" placeholder="DNI">

        </div>

        <div class="input-contenedor">
            <i class="far fa-address-card icon"></i>
            <input type="text" placeholder="CUI">

        </div>



        <div class="input-contenedor">
            <i class="fas fa-envelope icon"></i>
            <input type="text" placeholder="Correo Electronico">


        </div>

        <div class="input-contenedor">
            <i class="fab fa-odnoklassniki icon "></i>
            <input type="text" placeholder="Alias
            ">

        </div>

        <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="password" placeholder="Contraseña">

        </div>

        <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="password" placeholder="Confirmar Contraseña">

        </div>

        <a href="#" class="btn btn-block btn-dark">Registrarse</a>
    </div>
</form>
{% endblock %}